
snowflake-snowpark-python==1.15.0

dotenv
notebook
ipykernel
pandas==2.1.4
pyarrow==14.0.2
snowflake-connector-python[pandas]==3.7.0

python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
types-PyYAML

beautifulsoup4==4.12.2

streamlit==1.31.0

openpyxl

-e .